#pagaleve-thankyou {
    padding: 15px 0px 15px 0px;
    margin-bottom: 1.9em;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px #cccccc;
    text-align: center;

    .pagaleve-container {
        fieldset {
            background-color: transparent !important;
        }
    }
}
